<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Aplicação Desenvolve - GB</title> 
    <link rel="stylesheet" href="/css/style.css"
</head>

<body>
    {{{body}}}

    <script src="/js/javascript.js"></script>
</body>

</html>